<mat-card *ngIf="!post.isDeleted" [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" matTooltip="{{showWhoLike()}}" (click)="likePost()">
      <mat-icon matBadge="{{countLikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="countLikes() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="{{showWhoDislike()}}" (click)="dislikePost()">
      <mat-icon matBadge="{{countDislikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="countDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button *ngIf="isAuthor()" mat-icon-button color="primary" (click)="openEditPostDialog(editPostType.Edit)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeVisibilitySharingEmail()">Email</button>
      <button mat-menu-item (click)="changeVisibilitySharingLink()">Link</button>
    </mat-menu>
    <div *ngIf="isInputEmailVisible">
      <input name="email" [(ngModel)]="sharingEmail" #email="ngModel" matInput placeholder="Email">
      <button mat-raised-button color="primary" (click)="sharePostViaEmail()">Confirm</button>
      <button mat-raised-button color="red" (click)="closeSharing()">Close</button>
    </div>
    <div *ngIf="isLinkVisible">
      <a href="http://localhost:4200/post/{{post.id}}">Follow_this</a>
      <button mat-raised-button color="red" (click)="closeSharing()">Close</button>
    </div>
    <button *ngIf="isAuthor()" mat-icon-button color="primary" (click)="delete()">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" (onDelete)="onDelete($event)">
    </app-comment>
  </div>
</mat-card>